<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>下级订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../static/css/mui.min.css" rel="stylesheet" />
		<link href="../static/css/icons-extra.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../static/css/app.css" />
	</head>
<style type="text/css">
	html,
	body {
		background-color: #efeff4;
	}
	h4{
			float: left;
		}
	.img{
		padding-left: 5px;
		width: 60px;
	}
	span{
		/*color: black;*/
	}
	font{
		color: black;
	}
	h5{
		color: brown;
	}
	#sliderSegmentedControl{
		width: 100%;
		position: fixed;
		top: 40px;
		z-index: 1;
		background-color: #efeff4;
		color: black;
	}
	#orders{
		margin-top: 45px;
	}
	h3{
		color: black;
	}
	#confirm{
		width: 100%;
		position: fixed;
		/*top: 0px;*/
		bottom: 50px;
		background-color: #efeff4;
		color: black;
	}
</style>
	<body>
		<div class="mui-inner-wrap">
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title">下级订单</h1>
				<a class="mui-icon mui-pull-right" href="/orders/myList"><h5 style="color: gray;">我的订单</h5></a>
			</header>
			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item" href="/delivery">
					<span class="mui-icon mui-icon-undo"></span>
					<span class="mui-tab-label">发货</span>
				</a>
				<a class="mui-tab-item mui-active" href="/orders">
					<span class="mui-icon mui-icon-list"></span>
					<span class="mui-tab-label">订单</span>
				</a>
				<a class="mui-tab-item" href="/stock">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">库存</span>
				</a>
				<a class="mui-tab-item" href="/lowerlevel">
					<span class="mui-icon mui-icon-download"></span>
					<span class="mui-tab-label">下级</span>
				</a>
				<a class="mui-tab-item" href="/person">
					<span class="mui-icon mui-icon-person"></span>
					<span class="mui-tab-label">个人</span>
				</a>
			</nav>
			<div class="mui-content">
				<div id="sliderSegmentedControl" class="mui-bar mui-bar-tab">
					<a class="mui-tab-item mui-active" href="#untreated">未处理</a>
					<a class="mui-tab-item" href="#processed">已处理</a>
				</div>
				<div id="untreated" class="mui-control-content mui-active">
					<form action="">
						<div id="confirm" class="mui-bar mui-bar-tab">
							<div class="mui-tab-item mui-checkbox mui-left">
								<input name="checkbox" type="checkbox" style="position: relative;left: 0px;">
								<font style="position: relative;left: 0px; top: 3px;">全选</font>
							</div>
							<div class="mui-tab-item"></div>
							<a id='submit' class="mui-tab-item" href=""><font style="position: relative;top: 5px;">确认订单</font></a>
						</div>
						<ul	class="mui-table-view" id="orders" style="margin-bottom: 50px;">
							<li class="mui-table-view-divider mui-media mui-checkbox mui-left" >
								<table>
									<tr>
										<td><input name="checkbox" type="checkbox" style="position: relative;left: 0;"></td>
										<td class="img"><img class="mui-media-object mui-pull-left" src="images/qq.png"/></td>
										<td>
											<div class="mui-media-body">
												<font style="font-size: 25px;">agencyStock.itemName</font>
												<h5>价格：agencyStock.itemPrice</h5>
												<p class="mui-ellipsis" >数量：agencyStock.itemStock</p> 
											</div> 
										</td>
										<a href="/orders/detail" class="mui-btn mui-btn-link mui-pull-right">详情</a>
									</tr>
								</table>
							</li>
						</ul>
					</form>
				</div>
				
				<div id="processed" class="mui-control-content">
					<ul class="mui-table-view" id="orders">
						<li class="mui-table-view-cell mui-media">
							<a class="mui-navigate-right" href="/orders/detail">
								<table>
									<tr>
										<td class="img"><img class="mui-media-object mui-pull-left" src="images/qq.png"/></td>
										<td>
											<div class="mui-media-body">
												<font style="font-size: 25px;">agencyStock.itemName</font>
												<h5>价格：agencyStock.itemPrice</h5>
												<p class="mui-ellipsis" >数量：agencyStock.itemStock</p> 
											</div>
										</td>
									</tr>
								</table>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="../static/js/mui.min.js"></script>
	<script src="../static/js/mui.indexedlist.js"></script>
	<script src="../static/js/mui.grouplist.testdata.js"></script>
	<script type="text/javascript">
		mui.init();
		mui('body').on('tap','a',function(){
			window.top.location.href=this.href;
		});
	</script>
</html>