<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.oilpea.wechat.app.api.mapper.AgencyordersMapper">
  <resultMap id="BaseResultMap" type="xyz.oilpea.wechat.app.api.pojo.Agencyorders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="receive_id" jdbcType="INTEGER" property="receiveId" />
    <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress" />
    <result column="receive_phone" jdbcType="VARCHAR" property="receivePhone" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="send_id" jdbcType="INTEGER" property="sendId" />
    <result column="send_address" jdbcType="VARCHAR" property="sendAddress" />
    <result column="sned_phone" jdbcType="VARCHAR" property="snedPhone" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  
  <select id="queryOrdersByReceiveIdAndState" parameterType="java.lang.Integer" resultType="xyz.oilpea.wechat.agency.pojo.Agencyorders">
  	select * FROM agencyOrders WHERE receive_id = #{receiveId} and order_state = #{orderState}
  </select>
  
  <select id="queryOrdersBySendIdAndState" parameterType="java.lang.Integer" resultType="xyz.oilpea.wechat.agency.pojo.Agencyorders">
  	select * FROM agencyOrders WHERE send_id = #{sendId} and order_state = #{orderState}
  </select>
</mapper>