<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.oilpea.wechat.app.api.mapper.HeadquartersorderdetailMapper">
  <resultMap id="BaseResultMap" type="xyz.oilpea.wechat.app.api.pojo.Headquartersorderdetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="item_count" jdbcType="INTEGER" property="itemCount" />
  </resultMap>
</mapper>