<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.oilpea.wechat.agency.mapper.AgencystockMapper">
  <resultMap id="BaseResultMap" type="xyz.oilpea.wechat.agency.pojo.Agencystock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="item_stock" jdbcType="INTEGER" property="itemStock" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_price" jdbcType="DECIMAL" property="itemPrice" />
    <result column="agency_id" jdbcType="INTEGER" property="agencyId" />
  </resultMap>
</mapper>