<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../static/css/mui.min.css" rel="stylesheet" />
	</head>
<style type="text/css">
	h4{
		float: left;
	}
</style>
	<body>
		<div class="mui-inner-wrap">
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title">个人中心</h1>
			</header>
			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item  mui-active" href="/delivery">
					<span class="mui-icon mui-icon-undo"></span>
					<span class="mui-tab-label">发货</span>
				</a>
				<a class="mui-tab-item" href="/orders">
					<span class="mui-icon mui-icon-list"></span>
					<span class="mui-tab-label">订单</span>
				</a>
				<a class="mui-tab-item" href="/stock">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">库存</span>
				</a>
				<a class="mui-tab-item" href="/lowerlevel">
					<span class="mui-icon mui-icon-download"></span>
					<span class="mui-tab-label">下级</span>
				</a>
				<a class="mui-tab-item mui-active" href="/person">
					<span class="mui-icon mui-icon-person"></span>
					<span class="mui-tab-label">个人</span>
				</a>
			</nav>
			<div class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="mui-slider">
						<ul	class="mui-table-view">
							<li class="mui-table-view-cell" style="height: 220px;">
								<img src="${agency.headImg}" style="display:block;width: 200px;height: 200px; margin:auto;" name="icon"/>
							</li>
							<li class="mui-table-view-cell">
								<a href="/person/editInfo?value=${agency.username!}&title=username">
									<h4>用户名</h4>
									<span class="mui-pull-right">${agency.username!}</span>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="/person/editInfo?value=${agency.phone!}&title=phone">
									<h4>手机号</h4>
									<span class="mui-pull-right">${agency.phone!}</span>
							</li>
							<li class="mui-table-view-cell">
								<a href="/person/editInfo?value=${agency.email!}&title=email">
									<h4>Email</h4>
									<span class="mui-pull-right">${agency.email!}</span>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="/person/editInfo?value=${agency.address!}&title=address">
									<h4>地址</h4>
									<span class="mui-pull-right">${agency.address!}</span>
								</a>
							</li>
						</ul><br /><br />
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<a href="/person/moreInfo">
									<h4>更多</h4>
									<span class="mui-pull-right mui-icon mui-icon-arrowright"></span>
								</a>
							</li>
							
						</ul>
						
					</div>
				</div>
			</div>
		</div>
		<script src="../static/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui('body').on('tap','a',function(){
    		window.top.location.href=this.href;});
		</script>
	</body>

</html>