<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>货单列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../static/css/mui.min.css" rel="stylesheet" />
		<link href="../static/css/icons-extra.css" rel="stylesheet" />
		<link rel="stylesheet" href="../static/css/app.css" />
	</head>
<style type="text/css">
	html,
	body {
		background-color: #efeff4;
	}
	h4{
			float: left;
		}
	.img{
		padding-left: 5px;
		width: 60px;
	}
	span{
		/*color: black;*/
	}
	font{
		color: black;
	}
	h5{
		color: brown;
	}
	#sliderSegmentedControl{
		width: 100%;
		position: fixed;
		top: 40px;
		z-index: 1;
		background-color: #efeff4;
		color: black;
	}
	#orders{
		margin-top: 45px;
	}
	h3{
		color: black;
	}
</style>
	<body>
		<div class="mui-inner-wrap">
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title">货单列表</h1>
			</header>
			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item  mui-active" href="/delivery">
					<span class="mui-icon mui-icon-undo"></span>
					<span class="mui-tab-label">发货</span>
				</a>
				<a class="mui-tab-item" href="/orders">
					<span class="mui-icon mui-icon-list"></span>
					<span class="mui-tab-label">订单</span>
				</a>
				<a class="mui-tab-item" href="/stock">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">库存</span>
				</a>
				<a class="mui-tab-item" href="/lowerlevel">
					<span class="mui-icon mui-icon-download"></span>
					<span class="mui-tab-label">下级</span>
				</a>
				<a class="mui-tab-item" href="/person">
					<span class="mui-icon mui-icon-person"></span>
					<span class="mui-tab-label">个人</span>
				</a>
			</nav>
			<div class="mui-content">
				<div id="sliderSegmentedControl" class="mui-bar mui-bar-tab">
					<a class="mui-tab-item mui-active" href="#unshippedDelivery">出货单</a>
					<a class="mui-tab-item" href="#uncollectedGoods">待收货</a>
					<a class="mui-tab-item" href="#haveReceivedTheGoods">已收货</a>
				</div>
				<div id="unshippedDelivery" class="mui-control-content mui-active">
					<ul	class="mui-table-view" id="orders">
					<!--for(unshipped in Unshipped!){-->
						<li class="mui-table-view-divider mui-media mui-checkbox mui-left mui-row">
							<table class="mui-col-xs-10">
								<tr>
									<td class="img"><img class="mui-media-object mui-pull-left" src="${unshipped.itemHeadImg!}"/></td>
									<td>
										<div class="mui-media-body">
											<font style="font-size: 25px;">${unshipped.itemName!}</font>
											<p class="mui-ellipsis" >数量：${unshipped.itemCount!}</p> 
										</div> 
									</td>
								</tr>
							</table>
							<div class="mui-pull-right">
								<form action="/orders/detail">
									<input name="system" value="delivery" hidden="hidden"/>
									<input name="orderId" value="${unshipped.orderId}" hidden="hidden">
									<input class="inputs" type="submit"  value="详情" style="background-color: white; color: black; border: 0px;"/><br />
								</form>
								<a href="#" class="mui-btn mui-btn-link">扫码</a><br />
								<form action="/delivery/fillCode">
									<input class="inputs" type="submit"  value="填码" style="background-color: white; color: black; border: 0px;"/><br />
								</form>
							</div>
						</li>
					<!-- } -->
					</ul>
				</div>
				
				<div id="uncollectedGoods" class="mui-control-content">
					<ul class="mui-table-view" id="orders">
					<!--for(uncollected in Uncollected){-->
						<li class="mui-table-view-cell mui-media">
							<a class="mui-navigate-right" href="/orders/detail?system=delivery&orderId=${uncollected.orderId!}">
								<table>
									<tr>
										<td class="img"><img class="mui-media-object mui-pull-left" src="${uncollected.itemHeadImg!}"/></td>
										<td>
											<div class="mui-media-body">
												<font style="font-size: 25px;">${uncollected.itemName!}</font>
											<p class="mui-ellipsis" >数量：${uncollected.itemCount!}</p> 
											</div>
										</td>
									</tr>
								</table>
							</a>
						</li>
					<!-- } -->
					</ul>
				</div>
				
				<div id="haveReceivedTheGoods" class="mui-control-content">
					<ul class="mui-table-view" id="orders">
					<!--for(received in Received){-->
						<li class="mui-table-view-cell mui-media">
							<a class="mui-navigate-right" href="/orders/detail?system=delivery&orderId=${received.orderId!}">
								<table>
									<tr>
										<td class="img"><img class="mui-media-object mui-pull-left" src="${received.itemHeadImg!}"/></td>
										<td>
											<div class="mui-media-body">
												<font style="font-size: 25px;">${received.itemName!}</font>
												<p class="mui-ellipsis" >数量：${received.itemCount!}</p> 
											</div>
										</td>
									</tr>
								</table>
							</a>
						</li>
					<!-- } -->
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="../static/js/mui.min.js"></script>
	<script src="../static/js/mui.indexedlist.js"></script>
	<script src="../static/js/mui.grouplist.testdata.js"></script>
	<script type="text/javascript">
		mui.init();
		mui('body').on('tap','a',function(){
			window.top.location.href=this.href;
		});
	</script>
</html>