<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>窜货查询</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../static/css/mui.min.css" rel="stylesheet" />
		<link href="../static/css/mui.indexedlist.css" rel="stylesheet" />
		<style>
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
			.mui-bar {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			a{
				color: black;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-pull-left" href="/lowerlevel"><span class="mui-icon-back" ></span></a>
			<h1 class="mui-title">窜货查询</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content">
			<form class="mui-input-group" action="/orders/detail">	
				<div class="mui-input-row">
					<input name="system" value="inquiry" hidden="hidden"/>
				</div>
				<div class="mui-input-row">
					<label class="home">订单号</label>
					<input name="orderId" type="text" class="mui-input-clear" placeholder="请输入需要查询的订单号">
				</div>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="mui-content-padded">
							<button type="submit" class="mui-btn mui-btn-success mui-btn-block">查询</button>
						</div>
					</li>
				</ul>
			</form>
		</div>
		</div>
	</body>
	<script src="../static/js/mui.min.js"></script>
	<script src="../static/js/mui.indexedlist.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		mui('body').on('tap','a',function(){
		window.top.location.href=this.href;});
		mui.ready(function() {
			var header = document.querySelector('header.mui-bar');
			var list = document.getElementById('list');
			var done = document.getElementById('done');
			list.style.height = (document.body.offsetHeight - header.offsetHeight) + 'px';
			window.indexedList = new mui.IndexedList(list);
		});
	</script>
</html>