<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<?
var a = 2;
var b = 3;
var result = a+b;
?>
hello 2+3=${result}


<br>
<br>
<br>
<br>
	<p>???</p>
	<img class="mui-media-object mui-pull-left" src="">
	<div class="mui-media-body">
		用户名
		<p class='mui-ellipsis'>手机号</p>
	</div>
	
<!--for(agency in agencyList){-->
	<img class="mui-media-object mui-pull-left" src="${agency.headImg}">
	<div class="mui-media-body">
		${agency.username} 假的吧
		<p class='mui-ellipsis'>${agency.phone}</p>
	</div>
<!-- } -->

	<p>???</p>
</body>
<script type="text/javascript">

</script>
</html>